# Python
__pycache__/
*.pyc
venv/
.env

# Docker
*.log

# OS
.DS_Store

# IDE
.vscode/

# env
.env
# Terraform files
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup

# Terraform crash logs
crash.log

# Terraform override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json
