replicaCount: 2

image:
  repository: anshujee/user-management-service
  tag: latest
  pullPolicy: Always

service:
  type: ClusterIP
  port: 80
  targetPort: 8000

app:
  cpuThreshold: "20"
  memoryThreshold: "20"

ingress:
  enabled: true
  className: nginx
  host: ums.umsdevopsdemo.in
  path: /health
  tls:
    enabled: true
    secretName: ums-tls
