replicaCount: 2

image:
  repository: anshujee/user-management-service
  tag: latest
  pullPolicy: Always

env:
  CPU_THRESHOLD: "40"
  MEMORY_THRESHOLD: "40"

service:
  type: ClusterIP
  port: 80
  targetPort: 8000

ingress:
  enabled: true
  className: nginx
  host: ums.umsdevopsdemo.in
  path: /health
  tls:
    enabled: true
    secretName: ums-tls
